{% extends "base.html" %}


{% block content %}
<div class="container" style="margin-top: 100px;">
    <form method="POST" enctype="multipart/form-data" class="p-2 form">
        <h2 class="text-center">Add a new tutorial</h2>
        <p>Please enter the overall information for the course that
            is applicable to all weeks. There is a separate form to enter the instructions
            for each individual class/week.
        </p>
        <p><strong>Instructor: {{ request.user.get_full_name }}</strong></p>

        {% csrf_token %}
        {{ form.media }} 
        {{ form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-2">Create Course</button>
        </div>
    </form>
</div>
{% endblock %}