{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description"
content="A page for staff users to delete a tutorial. ">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'tutorials/css/tutorials.css' %}">
{% endblock %}

{% block extra_title%}Delete Tutorial{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div>
            <h2 class="tutorial-heading mb-5">Delete Tutorial</h2>
            <p class="p-3">Are you sure you want to delete the tutorial "{{ object.title }}"? 
                This action cannot be undone.</p>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Yes, Delete</button>
        <a href="{% url 'user_tutorials' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
