{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block extra_title%}Edit Post{% endblock %}


{% block content %}
  <h2>Edit Tutorial Post</h2>
  <form method="post" enctype="multipart/form-data" class="p-2 form">
    {% csrf_token %}
    {{ form.media }} 
    {{ form|crispy }}
    <button class="btn btn-sm btn-black mr-2 mr-2" type="submit">Save Changes</button>
    <a href="{% url 'user_tutorials' %}" class="btn btn-sm btn-secondary">Cancel</a>
  </form>
  <a href="{% url 'user_tutorials' %}">Back to My Tutorials</a>
{% endblock %}
