{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block extra_title%}Edit Tutorial{% endblock %}

{% block content %}
  <div class="container p-2" style="margin-top: 100px;">
    <h2>Edit Tutorial</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.media }} 
      {{ form|crispy}}
      <button class="btn btn-sm btn-black mr-2" type="submit">Update Tutorial</button>
      <a href="{% url 'user_tutorials' %}" class="btn btn-sm btn-secondary">Cancel</a>
    </form>
  </div>
{% endblock %}
