{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_meta %}
<meta name="description"
content="A page for staff users to edit a tutorial post. ">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'tutorials/css/tutorials.css' %}">
{% endblock %}

{% block extra_title%}Edit Post{% endblock %}

{% block content %}
<div class="container p-2">
  <div>
    <h2 class="tutorial-heading">Edit Tutorial Post</h2>
  </div>
  <form method="post" enctype="multipart/form-data" class="p-2 form">
    {% csrf_token %}
    {{ form.media }} 
    {{ form|crispy }}
    <button class="btn btn-sm btn-black mr-2 mr-2" type="submit">Save Changes</button>
    <a href="{% url 'user_tutorials' %}" class="btn btn-sm btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}
