{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'tutorials/css/tutorials.css' %}">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block extra_title%}Tutorials{% endblock %}

{% block content %}
<div class="container">
  <div class="px-3">
    <h2 class="tutorial-heading">Tutorial Instructions</h2>
    <p>Detailed instructions for "{{ object.title }}" are below. Some tutorials are 
      presented over several weeks. If you are returning to this tutorial, you can use
      the green links under the summary to jump to the week you are on, or simply look
      ahead. We hope you enjoy this tutorial and that you will post photos of your work
      along the way on our <a href="https://www.facebook.com/profile.php?id=100091661127883">Facebook Page</a>. 
    </p>
  </div>
  <div class="container d-flex flex-row flex-wrap justify-content-center">
    <div class="col-md-12 card mb-4 mt-3 tutorial">
      <div class="row px-2">
        <div class="col-md-3">
          <img src="{{ object.image.url }}" class="card-img-top py-4" alt="{{ object.image_alt }}">
        </div>
        <div class="col-md-9 card-body">
          <h3>{{ object.title }}</h3>

          <h4>Instructor: {{ object.instructor }}</h4>
          {% if request.user.is_staff %}
          <a href="{% url 'user_tutorials' %}" class="btn btn-sm btn-outline-secondary mb-1">Manage Tutorial</a>
          {% endif %}
          <p><small><strong>Category: {{ object.category.get_friendly_name }}</strong></small></p>
          <p><strong>Duration:</strong> {{ object.duration }}</p>
          <p class="text-capitalize"><strong>Difficulty:</strong> {{ tutorial.difficulty_level }}</p>
          <p><strong>Summary:</strong> {{ object.summary }}</p>
          <div class="d-flex flex-wrap tutorial-links-container">
            {% for post in tutorial_posts %}
            <a href="#" class="tutorial-post-link mr-2 mb-2" data-week="{{ post.week_number }}">Week {{ post.week_number }} - {{ post.title }}</a>
            {% if not forloop.last %}<span class="separator">|&nbsp</span>{% endif %}
            {% endfor %}
          </div>                
        </div>
      </div>
      <!-- Second row -->
      <div class="row px-2">
        <div class="col-md-3">
          <h5><strong>Equipment List</strong></h5>
          {{ object.equipment_list | safe }}
        </div>
        <div class="col-md-9">
          <!-- Tutorial posts -->
          <div class="card-body tutorial-posts">
            {% for post in tutorial_posts %}
              <div id="week-{{ post.week_number }}" class="pb-3 week-post row" style="display: none;">
                  <h4>{{ post.title }}</h4>
                  <img src="{{ post.image.url }}" alt="{{ post.image_alt }}" class="p-4 rounded float-right image-responsive">
                  <p>{{ post.instructions | safe }}</p>
              </div>            
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
<script src="{% static 'tutorials/js/tutorials.js' %}"></script>
{% endblock %}
