{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">New tutorials page</div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container mt-5 style=" max-width: 1000px; margin: 0 auto;>
    <div class="row">
        <h2>Make your own Paper Dreams!</h2>
    </div>
    
    <div>
        <h2>Tutorials</h2>
        
    </div>

</div>

{% endblock %}