{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
    <h2>Tutorials</h2>

    <div class="container d-flex flex-row flex-wrap justify-content-center">
        {% for tutorial in tutorials %}
        <div class="col-md-12 card mb-4 mt-3 tutorial">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{ tutorial.image.url }}" class="card-img-top py-4" alt="{{ tutorial.image_alt }}">
                </div>
                <div class="col-md-9 card-body">
                    <h3><a href="#">{{ tutorial.title }}</a></h3>
                    <h4>Instructor: {{ tutorial.instructor }}</h4>
                    <p><small>Category: {{ tutorial.category.get_friendly_name }}</small></p>
                    <p></p>
                    <p>Duration: {{ tutorial.duration }}</p>
                    <p class="text-capitalize">Difficulty: {{ tutorial.difficulty_level }}</p>
                    <p>Summary: {{ tutorial.summary }}</p>
                </div>
            </div>        
        </div>
        {% empty %}
            <p>No tutorials available.</p>
        {% endfor %}
    </div>
{% endblock %}

