{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
{% endblock %}

{% block content %}
{% if bag_items %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
            <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                <div class="card-body p-0">
                    <div class="row g-0">
                        <div class="col-lg-8">
                            <div class="p-5">
                                <div class="d-flex justify-content-between align-items-center mb-5">
                                    <div class="row w-100">
                                        <div class="col-md-6 text-start">
                                            <h2 class="fw-bold mb-0 text-black">Shopping Bag</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="bag-header">
                                    <div class="row d-flex justify-content-between align-items-center">
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <p>Name</p>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            <p>Price</p>
                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 d-flex">
                                            <p>Qty</p>
                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 d-flex">
                                            <p>Subtotal</p>
                                        </div>
                                    </div>
                                    <hr class="my-4 bag-header">
                                </div>

                                {% for item in bag_items %}
                                <div class="row mb-4 d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <h6 class="text-muted">{{ item.product.name }}</h6>
                                        <h6 class="text-black mb-0">SKU: {{ item.product.sku|upper }}</h6>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <h6 class="mb-0">£{{ item.product.price }}</h6>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 d-flex">
                                        <p class="my-0">{{ item.quantity }}</p>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 d-flex">
                                        <p class="my-0">£{{ item.product.price }}</p>
                                    </div>
                                </div>
                                <div class="class=col-md-3 col-lg-3 col-xl-3">
                                    <a href="#" class="text-muted">Remove <i class="fas fa-times"></i></a>
                                </div>

                                <hr class="my-4">
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-4 bg-grey">
                            <div class="p-5">
                                <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                <h6 class="mb-0 text-muted">{{ product_count }} Items</h6>

                                <hr class="my-4">

                                <div class="d-flex justify-content-between mb-4">
                                    <h6 class="text-uppercase">Bag Total:</h6>
                                    <h6><strong> £{{ total|floatformat:2 }}</strong></h6>
                                </div>
                                <div class="d-flex justify-content-between mb-4">
                                    <h6 class="text-uppercase">Delivery:</h6>
                                    <h6><strong> £{{ delivery|floatformat:2 }}</strong></h6>
                                </div>

                                <hr class="my-4">

                                <div class="d-flex justify-content-between mb-5">
                                    <h5 class="text-uppercase">Grand Total: </h5>
                                    <h5>${{ grand_total|floatformat:2 }}</h5>
                                </div>

                                <div class="d-flex justify-content">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-sm same">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Back</span>
                                    </a>
                                    <a href="" class="btn btn-black rounded-0 btn-sm same-size-btn">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock cart-icon"></i>
                                        </span>
                                    </a>

                                </div>
                                <div class="d-flex justify-content">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<p class="lead mb-5">Your bag is empty.</p>
<a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
    <span class="icon">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span class="text-uppercase">Keep Shopping</span>
</a>
{% endif %}

{% endblock %}