{% extends "base.html" %}
{% load static %}


{% block extra_meta %}
<meta name="description"
content="Shop for handmade papier-mache masks, wacky figurines, original paintings, or try a free tutorial. ">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block extra_title%}Homepage{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-4 d-flex align-items-center justify-content-center">
      <div class="text-center">
        <h2>Papier-Mache Art, Decor & More</h2>
        <h3>Add a little whimsy!</h3>
        <div>
          <h4>
            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Go shop!</a>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="main-wrapper">
        <div class="main">
          <div class="container">
            <div class="hexagon">
              <a href="{% url 'products' %}?category=masks" aria-label="Masks: Have a look at decorative and wearable masks for adults and children.">
                <div class="img-wrapper"
                  style="background-image: url('https://paper-dreams-uk.s3.eu-west-2.amazonaws.com/media/leafy_mask2.jpg');"></div>
                <div class="hexagon-text">Masks</div>
              </a>
            </div>
            <div class="hexagon">
              <a href="{% url 'tutorial_list' %}" aria-label="Tutorials: Make your own creation with one of our tutorials">
                <div class="img-wrapper"
                  style="background-image: url('https://paper-dreams-uk.s3.eu-west-2.amazonaws.com/media/florence2.jpg');">
                </div>
                <div class="hexagon-text">Tutorials</div>
              </a>
            </div>
            <div class="hexagon">
              <a href="{% url 'products' %}?sort=category&direction=asc" aria-label="Shop All: Explore all artwork.">
                <div class="img-wrapper"
                  style="background-image: url('https://paper-dreams-uk.s3.eu-west-2.amazonaws.com/media/flower-ball.png');">
                </div>
                <div class="hexagon-text">Shop All</div>
              </a>
            </div>
            <div class="hexagon">
              <a href="{% url 'products' %}?category=children" aria-label="Children: Browse unique items for children.">
                <div class="img-wrapper"
                  style="background-image: url('https://paper-dreams-uk.s3.eu-west-2.amazonaws.com/media/skull_halloween_pirate.JPG');">
                </div>
                <div class="hexagon-text">Children</div>
              </a>
            </div>
            <div class="hexagon">
              <a href="{% url 'products' %}?category=figurines" aria-label="Figurines: Browse papier-mache figures for the home.">
                <div class="img-wrapper"
                  style="background-image: url('https://paper-dreams-uk.s3.eu-west-2.amazonaws.com/media/Lookout.jpg');">
                </div>
                <div class="hexagon-text">Figurines</div>
              </a>
            </div>
            <div class="hexagon">
              <a href="{% url 'products' %}?category=prints" aria-label="Prints and Paintings: Limited edition prints and original paintings.">
                <div class="img-wrapper"
                  style="background-image: url('https://paper-dreams-uk.s3.eu-west-2.amazonaws.com/media/abstract-ink.png');">
                </div>
                <div class="hexagon-text">Prints & Paintings</div>
              </a>
            </div>
            <div class="hexagon">
              <a href="{% url 'products' %}?category=animals" aria-label="Animals: Explore large and small papier-mache animals.">
                <div class="img-wrapper"
                  style="background-image: url('https://paper-dreams-uk.s3.eu-west-2.amazonaws.com/media/penguin_hallway.JPG');">
                </div>
                <div class="hexagon-text">Animals</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- Credits
The hexagon shapes are thanks to code borrowed from the following sources:

Temani Afif's Codepen: https://codepen.io/t_afif/pen/zYoZBOy - a responsive hexagon grid
kizu's public fiddles: http://jsfiddle.net/kizu/bhGn4/ found via StackOverflow.
Darsain's Codpen - https://codepen.io/darsain/pen/DQKWqM

with additional insight from CSS Tricks](https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/ -->