{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<style>
.img-thumbnail {
  height: 150px !important;
}
</style>
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      {% if request.user.is_authenticated %}
        <h2 class="my-4">{{ request.user.first_name }}'s Wishlist</h2>
      {% else %}
        <h2 class="my-4">Wishlist</h2>
        <p>You need to register or login to save things to a wishlist.</p>
      {% endif %}
    </div>
  </div>

  {% for product in user.wishlist.products.all %}
    <div class="row mb-4">
      <div class="col-md-2">
        <img src="{{ product.image.url }}" class="img-thumbnail" alt="{{ product.name }}">
      </div>
      <div class="col-md-6">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description|truncatewords:20 }}</p>
        <a href="{% url 'product_detail' product_id=product.id %}">View Details</a>
      </div>
      <div class="col-md-4">
        <p class="card-text">
          {% if product.quantity > 0 %}
            <span class="text-success">In stock</span>
          {% else %}
            <span class="text-danger">Out of stock</span>
          {% endif %}
        </p>
        <a href="{% url 'remove_from_wishlist' item_id=product.id %}" class="btn btn-danger">Remove</a>
      </div>
    </div>
  {% empty %}
    <div class="row">
      <div class="col-12">
        <p class="text-center">Your wishlist is empty.</p>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
