h2 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #e96c74;
    padding-left: 15px;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}