{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<style>
h2 {
    font-weight: 700;
    color: black;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #e96c74;
    padding-left: 15px;
}
</style>
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block extra_title%}Delivery{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
	<div class="container" style="max-width: 800px; margin: 0 auto;">
		<div class="row mt-4">
			<div class="col">
				<h2>Delivery and Returns Policy</h2>
			</div>
		</div>

		<div class="row mt-4">
			<div class="col">
				<h3>Delivery</h3>
				<div>
                    <p>
                        All items are sent by Royal Mail "Tracked 48 with Signature" tracked. If you have choosen an
                        order from the online shop, your order will be despatched by the next working day. Once the order
                        is despatched, you will receive an email with a Royal Mail Tracking number. 

                        Please note that if you are ordering from abroad, your purchase may incur customs charges. You will
                        need to cover these costs yourself.
                    </p>
                </div>
			</div>
		</div>

		<div class="row mt-4">
			<div class="col">
				<h3>Returns Policy</h3>
				<div>
                    We hope you will you love your artwork, however, we realize there is a risk to damage during delivery
                    or the item might not be quite what you expected.
                    <ul>
                        <li><strong>28 days</strong> return period</li>
                        <li>The artwork must be in the same condition you received it.</li>
                        <li>Paper Dreams eserves the right to refuse the return or deduct 
                            from a refund any diminution of value as a result of the product 
                            not being in the above condition. </li>
                        <li>Return via Post Office or courier of your choice, we can not cover delivery
                            charges for returns with the exception of items damaged during delivery.
                        </li>
                        <li>Refunds can take up to <strong>10 working days.</strong></li>
                        <li>You will be refunded to your original method of payment.</li>
                        <li>Once we have processed your return/exchange you will receive a confirmation email.</li>
                        <li>Please allow 3-5 working days from receipt of email for the refund to show on your statement.</li>
                    </ul>
                </div>
			</div>
		</div>

	</div>

{% endblock %}