{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <!-- Required meta tags -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Discover unique, handmade art and decor at our online shop. Shop for papier-mache masks, original paintings, and more. ">
  <meta name="robots" content="nofollow">

  {% endblock %}

  {% block extra_meta %}

  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}
 
  <link rel="icon" type="image/ico" href="https://paper-dreams-uk.s3.eu-west-2.amazonaws.com/media/favicon.ico">


  {% block extra_css %}

  {% endblock %}

  {% block corejs %}

  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous">
  </script>


  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>

  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Paper Dreams {% block extra_title%}{% endblock %}</title>
</head>

<body>
  <header class="container-fluid d-flex justify-content-center px-0">
    <nav class="w-100 navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="{% url 'home' %}">
        <h1>Paper Dreams</h1>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="w-100 collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-3">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tutorial_list' %}">Tutorials</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'products' %}" role="button" data-toggle="dropdown"
              aria-expanded="false">
              Shop
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">All Artwork</a>
              <a class="dropdown-item" href="{% url 'products' %}?category=animals">Animals</a>
              <a class="dropdown-item" href="{% url 'products' %}?category=children">Children</a>
              <a class="dropdown-item" href="{% url 'products' %}?category=figurines">Figurines</a>
              <a class="dropdown-item" href="{% url 'products' %}?category=masks">Masks</a>
              <a class="dropdown-item" href="{% url 'products' %}?category=prints&paintings">Prints & Paintings</a>
            </div>
          </li>
        </ul>
        <div class="w-100 col-12 col-lg-6 my-auto ml-auto py-1 py-lg-0">
          <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <li class="list-inline-item">
              <a class="text-black nav-link d-block" href="#" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="text-center">
                  <div><i class="fas fa-search fa-sm"></i></div>
                  <p class="my-0">Search</p>
                </div>
              </a>
              <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="search-field">
                <form class="form" method="GET" action="{% url 'products' %}">
                  <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" id="search-field" type="text" name="q"
                      placeholder="Search our site">
                    <div class="input-group-append">
                      <button class="form-control form-control btn btn-black border border-black rounded-0"
                        type="submit">
                        <span class="icon">
                          <i class="fas fa-search"></i>
                        </span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            {% if user.is_authenticated and wishlist.products.exists %}
            <li class="list-inline-item">
              <a href="{% url 'view_wishlist' %}">
                <div class="text-center">
                  <div><i class="fas fa-heart text-danger"></i></div>
                  <p class="my-0 text-dark">Wishlist</p>
                </div>
              </a>
            </li>
          {% else %}
            <li class="list-inline-item">
              <div class="text-center">
                <div><i class="far fa-heart"></i></div>
                <p class="my-0">Wishlist</p>
              </div>
            </li>
          {% endif %}
          
          
            <li class="list-inline-item dropdown">
              <a class="text-black nav-link d-block" href="#" id="user-options" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                  <div><i class="fas fa-user fa-sm"></i></div>
                  {% if request.user.is_authenticated %}
                  <p class="my-0">My Account</p>
                  {% else %}
                  <p class="my-0">Login/Register</p>
                  {% endif %}
                </div>
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'admin:index' %}" class="dropdown-item" >Admin Panel</a>
                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                {% endif %}
                {% if request.user.is_staff %}
                <a href="{% url 'user_tutorials' %}" class="dropdown-item">Tutorials Management</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
              </div>
            </li>
            <li class="list-inline-item">
              <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link d-block"
                href="{% url 'view_bag' %}">
                <div class="text-center">
                  <div><i class="fas fa-shopping-bag fa-sm"></i></div>
                  <p class="my-0">
                    {% if grand_total %}
                    £{{ grand_total|floatformat:2 }}
                    {% else %}
                    £0.00
                    {% endif %}
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}
  <footer class="mt-4">
    <ul class="nav justify-content-center border-bottom pb-2">
      <li class="nav-item"><a href="{% url 'contact' %}" rel="noopener nofollow"
          class="nav-link px-2 text-muted">Contact</a></li>
      <li class="nav-item"><a href="{% url 'shipping_returns' %}" rel="noopener nofollow"
          class="nav-link px-2 text-muted">Delivery & Returns</a></li>
      <li class="nav-item"><a href="{% url 'privacy' %}" rel="noopener nofollow"
          class="nav-link px-2 text-muted">Privacy</a></li>
      <li class="nav-item"><a href="https://www.facebook.com/" class="nav-link px-2 text-muted" target="_blank"
          rel="noopener nofollow" aria-label="Visit our Facebook page (opens in a new tab)">
          <i class="fa-brands fa-facebook"></i></a>
      </li>
      <li class="nav-item"><a href="https://www.instagram.com/" class="nav-link px-2 text-muted" target="_blank"
          rel="noopener nofollow" aria-label="Visit our Instagram page (opens in a new tab)">
          <i class="fa-brands fa-instagram-square"></i></a>
      </li>
    </ul>
    <!-- Begin Mailchimp Signup Form -->
    <div class="d-flex justify-content-center">
      <form
        action="https://yahoo.us14.list-manage.com/subscribe/post?u=27bcd50aeaa3247d1e2fcdabf&amp;id=9d4cc23133&amp;f_id=000285e0f0"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
        novalidate>
        <div id="mc_embed_signup_scroll">

          <!-- Text Input Field and Button -->
          <div class="mc-field-group mc-field-group--with-response d-flex flex-md-row flex-column pb-2">
            <input id="mce-EMAIL" class="required email form-control mb-2 mb-md-0 mr-md-2" name="EMAIL" type="email"
              placeholder="Enter your email">
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_27bcd50aeaa3247d1e2fcdabf_9d4cc23133" tabindex="-1" value="">
            </div>
            <!-- /Submit Button -->
            <input id="mc-embedded-subscribe" class="btn btn-black" name="subscribe" type="submit"
              value="Subscribe to Newsletter">
            <p class="brandingLogo mb-2 mb-md-0 ml-md-2"><a href="http://eepurl.com/imqxWQ"
                title="Mailchimp - email marketing made easy and fun"><img
                  src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" alt="Mailchimp logo"></a></p>
            <!-- Response Messages -->
            <div id="mce-success-response" class="response" style="display:none"></div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                name="b_27bcd50aeaa3247d1e2fcdabf_9d4cc23133" tabindex="-1" value=""></div>
          </div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
    <p class="text-center text-muted">© 2023 Paper Dreams</p>
  </footer>


  {% block postloadjs %}


  {% endblock %}

  <!-- Font awesome -->
  <script src="https://kit.fontawesome.com/ad363e4e3e.js" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      var path = window.location.pathname;
      $(".navbar-nav li a").removeClass("active").filter(function () {
        return this.pathname === path;
      }).addClass("active");
    });
  </script>
  <script>
    $('.toast').toast('show');
  </script>
  <!-- mc_embed_signup-->
  <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script>
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[1] = 'FNAME';
      ftypes[1] = 'text';
      fnames[2] = 'LNAME';
      ftypes[2] = 'text';
      fnames[3] = 'ADDRESS';
      ftypes[3] = 'address';
      fnames[4] = 'PHONE';
      ftypes[4] = 'phone';
      fnames[5] = 'BIRTHDAY';
      ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>
  <!--End mc_embed_signup-->
</body>

</html>