{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block extra_js %}
<script src="https://kit.fontawesome.com/ad363e4e3e.js" crossorigin="anonymous"></script>
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<section class="section gray-bg" id="contactus">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Get In Touch</h2>
                </div>
            </div>
        </div>
        <div class="row flex-row-reverse">
            <div class="col-md-7 col-lg-8 m-15px-tb">
                <div class="contact-form">
                    <form method="POST" class="contact-form">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.subject|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.message|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.newsletter|as_crispy_field }}
                        </div>
                        <button id="submit-button" class="btn btn-black rounded-0">
							<span class="font-weight-bold">Submit</span>
							<span class="icon">
								<i class="fas fa-paper-plane"></i>
							</span>
						</button>
                    </form>                  
                </div>
            </div>
            <div class="col-md-5 col-lg-4 m-15px-tb">
                <div class="contact-name">
                    <h5>Email</h5>
                    <p><a href="mailto:info@paperdreams.com">info@paperdreams.com</a></p>
                </div>
                <div class="contact-name">
                    <h5>Visit My Studio</h5>
                    <p>15 Surrey Street, <br>Town, Surrey <br> AB10 1AB</p>
                </div>
                <div class="contact-name">
                    <h5>Phone</h5>
                    <p><a href="tel:+447777123456">+44 7777 123 456</a></p>
                </div>
                <div class="contact-name">
                    <h5>Make it bespoke</h5>
                    <p>Get in touch with your great ideas for commissioning an artwork. You can 
                        also have a mask made to fit with a face-casting.
                    </p>
                </div>
                <div class="social-share nav">
                    <a class="dribbble" href="https://www.instagram.com/" rel="noopener nofollow" target="_blank"  aria-label="Visit our Instagram page (opens in a new tab)">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a class="behance" href="https://www.facebook.com/" rel="noopener nofollow" target="_blank"  aria-label="Follow us on Facebook (opens in a new tab)">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a class="linkedin" href="https://www.linkedin.com/in/leah-janss-lafond-42867483/" rel="noopener nofollow" target="_blank"  aria-label="Connect on LinkedIn (opens in a new tab)">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}