body {
    background-color: #e2ebdb;
}

.bag-title {
    font-weight: 700;
    color: black;
    font-size: min(10vw, 40px);
    margin: 20px 0 30px 0;
    border-left: 5px solid #e96c74;
    padding-left: 15px;
    text-transform: uppercase;
    width: fit-content;
}

.icon {
    color: white !important;
}

.bag-icons {
    color: black;
}

.footer-background {
    background-color: rgb(204, 199, 199);
}


@media only screen and (max-width: 991px) {
    .bag-header {
        display: none;
    }
}

